[2014-12-21 16:03] cottsay opened #5 "care_o_bot_robot dependes on EOL package ipa_canopen"
`ipa_canopen` was EOL in https://github.com/ros/rosdistro/commit/c7a3fe479b6e4f864cc685acc9671934f2732b1a and was removed from the package index, but `care_o_bot_robot` still depends on it.

Either `ipa_canopen` should be re-added, or `care_o_bot_robot` should remove the dependency and be released.

[2015-01-07 09:21] ipa-fmw commented on #5
thanks for the hint. I'd tried to trigger a new release but failed due to not resolved keys on fedora. In care_o_bot_desktop (https://github.com/ipa320/care-o-bot/blob/indigo_dev/care_o_bot_desktop/package.xml) there are keys for ubuntu packages like language-pack-en and chromium-browser which do not exist for fedora. How do you usually deal with that? Is there a way of excluding either several ke

[2015-01-11 17:50] cottsay commented on #5
I took a look at this, and the language pack concept doesn't apply to Fedora. All locale are present on all Fedora installs, so we can just add a key for the `filesystem` package to handle it [1].

`chromium-browser`, on the other hand, is a problem [2]. It probably won't be in Fedora any time in the near future. However, I really can't see the reason you have a dependency on this package to begin

[2015-01-12 08:11] ipa-fmw commented on #5
the care_o_bot_* packages are just metapackages without any code. We're using them to easily setup robot and desktop machines with our default development environment including a default set of packages. This is why we included chromium in the care_o_bot_desktop package.

Anyway, I found out that during the release process with bloom I could select to skip Fedora after bloom detected missing depen

[2015-01-30 15:33] ipa-fmw commented on #5
fixed and released

[2015-01-30 15:33] #5 closed

[2015-08-11 14:24] ipa-fxm opened #7 "Migration to package format 2"
@ipa-fmw @ipa-nhg @ipa-mdl @ipa-mig @ipa-rmb @ipa-bnm

https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+user%3Aipa320+Migration+package+format+2

Let's use this Issue for general discussion about what's still missing for a successfull migration to package format 2:

Remaining repos to be migrated:
 - cob_extern
 - cob_perception_common
 - cob_perception_data
 - cob_navigation
 - cob_and

[2015-08-11 15:03] ipa-mdl commented on #7
+1 for not installing headers for"executable-only" packages

[2015-08-11 15:12] ipa-mdl commented on #7
* tests and roslaunch checks, test_depends

[2015-08-13 14:31] ipa-mig commented on #7
+1 for not installing headers of "executable-only" packages.

[2015-08-13 15:23] ipa-mig commented on #7
How should boost dependencies be handled?
`find_package` it when used directly, maybe with `COMPONENTS REQUIRED`?
How should it be in the `package.xml`?

[2015-08-13 17:38] ipa-bnm commented on #7
+1 for not installing headers of "executable-only" packages

[2015-08-13 18:02] ipa-fxm commented on #7
I'd suggest to be consequent and add explicit dependencies for boost!
I also already started to clean-up executable-only packages (see [cob_command_tools](https://github.com/ipa-fxm/cob_command_tools/commit/efad34046c416884d9306be3bc8b374ae5faf0b5))

[2015-08-13 18:07] ipa-fxm commented on #7
Also, how about packages where there are libraries?
In case the libraries are only used within the same packages, they do not need to be exported, right?

This would mean:
 - no install tag for the library?
 - no install tags for the headers used in the library?
 - no LIBRARIES in catkin_package?
 - no INCLUDE_DIRS in catkin_package?
 - thus, also no CATKIN_DEPENS and DEPENDS required?
Is this cor

[2015-08-13 18:10] ipa-fxm opened #8 "Review tests: unittests, gtests, launch_file_checks test_depend"
@ipa-fmw @ipa-nhg @ipa-mdl @ipa-mig @ipa-rmb @ipa-bnm

This should be done after migration to package xml format 2 has been completed
See [related comment](https://github.com/ipa320/care-o-bot/issues/7#issuecomment-129924447)

[2015-08-13 18:10] ipa-fxm commented on #7
I'd postpone reviewing "everything-tests-related" to the new issue #8

[2015-08-13 18:36] ipa-fxm commented on #7
What are we going to to about tags like this (e.g. from [here](https://github.com/ipa320/cob_control/blob/indigo_dev/cob_base_velocity_smoother/CMakeLists.txt#L6-L10)):
[code]

[2015-08-14 10:51] ipa-mdl commented on #7
You are right with the libraries.
Plug-in has to be built and installed, headers are not needed. And the plugin xml has to be installed, of cause.

C++11 code should be avoided for now if possible.
I had a brief look at `cob_base_velocity_smoother`, I think it does not need c++11.

C++11 is will be okay for executables, but probabably not for library, since the the c++11 must be passed to dependen

[2015-08-14 11:07] ipa-mig commented on #7
So we have to decide how to handle the libraries, right?
IMO, installing libraries and headers will allow other people to use this functionality.
Will also make things easier, if someone from IPA starts working on a node using a library, that is in another package.

So my vote is for installing (generally) installing libraries and headers with the respective `CATKIN_DEPEND` with the exception of w

[2015-08-14 11:08] ipa-mig commented on #7
So boost should only be addes as dependency, when any boost header is explicitely included. right?

[2015-08-14 11:16] ipa-mdl commented on #7
Boost should be added at least if certain components are used (system, threads, file_system).

If the libs should be use elswhere (i.e. are useful for others, too) they should be installed.
Each lib needs its headers  installed!

[2015-08-17 11:54] ipa-fxm commented on #7
So most of the packages have been migrated and merged!

 - cob_extern
 - cob_perception_common
 - cob_perception_data
 - cob_navigation
 - cob_android
 - care-o-bot (this package)
 - ...

@ipa-fmw @ipa-nhg @ipa-mdl @ipa-mig @ipa-rmb @ipa-bnm
So, who is volunteering to migrate the packages above?

[2015-08-17 12:00] ipa-mig commented on #7
I'll take over `cob_navigation`. And I can also do `cob_extern`.

[2015-08-17 12:10] ipa-bnm commented on #7
i take cob_android

[2015-08-17 12:14] ipa-nhg commented on #7
I take care-o-bot and cob_test_robots

[2015-08-17 12:26] ipa-bnm commented on #7
and my votes
libraries:
- always install libraries with their headers even if the lib is only used inside the same package for the moment
- generally export libraries and headers in catkin_package

plugins:
- as mdl already wrote. Install plugin.xml and the lib. No need for headers!

boost:
- i think boost depends are only needed if certain non header-only libs are used. Here a list of boost libs

[2015-08-17 12:35] ipa-fxm commented on #7
@ipa-bnm
That's the way it has been done now for the packages that are already migrated....

[2015-08-24 13:39] ipa-mig commented on #7
ipa320/cob_navigation#50 and ipa320/cob_extern#48 done.

[2015-08-24 16:40] ipa-fxm commented on #7
Awesome
:+1:

[2015-08-25 12:45] ipa-fxm commented on #7
I'll start triggering new releases...later the day/evening...

[2015-08-25 12:46] ipa-mig commented on #7
I’d like to do this for cob_navigation as well.
Can you maybe show me how to do this some time this/next week?

Von: Felix Messmer [mailto:notifications@github.com]
Gesendet: Dienstag, 25. August 2015 14:45
An: ipa320/care-o-bot
Cc: Gruhler, Matthias
Betreff: Re: [care-o-bot] Migration to package format 2 (#7)

I'll start triggering new releases...later the day/evening...

—
Reply to this email di

[2015-08-25 19:43] ipa-fxm commented on #7
New Releases triggered:
 - cob_extern: https://github.com/ros/rosdistro/pull/9277

[2015-08-29 10:53] ipa-fxm commented on #7
I decided to go on with the rest of the repositories...
...as releasing can easily be done, we could release in shorter cycles whenever a new fix is introduced within one of the repos!

[2015-08-29 11:23] ipa-fxm opened #10 "Review documentation"
@ipa-fmw @ipa-nhg @ipa-mig @ipa-bnm @ipa-rmb

As we now have consequently reviewed and beautified our repositories and code, the next step commendable contribution to the ROS community could/should be to tend our attention to documentation!

I.e. we should:
 - review the maintainers mentioned in the package.xml
 - review and add a meaningful description to the package.xml (with this we would also

[2015-08-31 06:19] ipa-mig commented on #10
:+1: Even though this will be a lot of work.
Also, I think that it would make a lot of sense to have the information about "subscribed/published topics/services/action as well as configurable parameters" in a Readme.md as well.
However, the problem is that this would actually require to do the work twice.

And as far as I see, it is not easy to convert the Readme.md to the wiki syntax due to the d

[2015-08-31 08:23] ipa-fxm commented on #10
I think a duplicate documentation is not desired as it would introduce sync'ing efforts on top of the efforts required for actually keeping one documentation up-to-date....

I'd vote for wiki-doku!

[2015-09-02 06:39] ipa-fxm commented on #7
All :green_heart:

[2015-09-02 06:43] ipa-mig commented on #7
:clap:

[2015-09-03 12:04] ipa-fxm opened #11 "[Discussion] Allow Multi-robot simulation"
@ipa-srd @ipa-srd-fg

The goal is to prepare the `cob_bringup`/`cob_bringup_sim` structure (as well as everything that comes with it, e.g. robot_description, controller,...) to be able to use multiple robots at the same time.
This might later be extended to a multi-master setup....

For now, we see several things that limit/prohibit the usage of the current structure for the multi-robot usecase, e

[2015-09-03 12:06] ipa-fxm commented on #11
For now, we see several things that limit/prohibit the usage of the current structure for the multi-robot usecase, e.g.:

 1.
In [robot_state_publisher](https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_bringup/tools/robot_state_publisher.launch#L10-L11) the hardcoded `remap` tags to global `/` namespace should be removed in favor for including this launch file in a proper namespace. I.e.
[

[2015-09-03 12:16] ipa-fxm commented on #11
2. The [robot_namespace](https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_hardware_config/raw3-2/urdf/raw3-2.urdf.xacro#L21) in the gazebo_ros_control plugins for the respective components should be replaced by something like
[code]
where ```$(arg robot_id)``` is a launch file argument that is passed to the urdf during the upload of the robot_description done in [upload_robot](https://gith

[2015-09-03 12:18] ipa-fxm commented on #11
3.
We need to find a good solution for un-global-namespacing the `source_list` parameter of the [joint_state_publisher](https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_hardware_config/raw3-2/config/joint_state_publisher.yaml#L2)

[2015-09-03 14:46] ipa-srd-fg commented on #11
1. In order to separate multiple robots in the future, I wrapped `<group ns="$(arg robot_id)">` around the launch file of the single robot. Therefore we do not have to add an `ns` tag to every new node. I hope that this structure is not in conflict with the single-robot usecase.

2. I had some errors by launching the files with no argument, therefore we should set the default value to  `"/"` inste

[2015-09-03 14:52] ipa-fxm commented on #11
I assume you are mainly working within `cob_robots`, right?
Can you post a link to your development branch? For review....and further discussion...

[2015-09-04 07:02] ipa-fxm commented on #11
The development branches are:
`cob_robots`: https://github.com/ipa-srd-fg/cob_robots
`cob_simulation`: https://github.com/ipa-srd-fg/cob_simulation

[2015-09-04 19:09] ipa-fxm commented on #11
As discussed with @ipa-mig @ipa-srd and @ipa-srd-fg  we might need to re-think about the topic names from the laser scanner (might need to happen for other sensors too?)
Other than that the introduction of the 'robot_id' argument seems to work fine.

Still a problem is within costmap node.
Also a "common root" needs to be introduced for the tf trees for the various robots when not using localizati

[2015-09-17 15:30] ipa-srd-fg commented on #11
Since I am not very familiar with git and have been advised to use `feature/...` for the naming of the git branches, I adjusted the development branches to the usual naming: [cob_common](https://github.com/ipa-srd-fg/cob_common/tree/feature/multi_robot), [cob_control](https://github.com/ipa-srd-fg/cob_control/tree/feature/multi_robot), [cob_robots](https://github.com/ipa-srd-fg/cob_robots/tree/fea

[2015-09-17 21:54] ipa-fxm commented on #11
That's perfect! It's good to have a meaningful and consistent feature branch name in the related repos.

As to the robot_description param and the ros_controller: I see your changes a bit sceptical as the the joint_trajectory_controller is widely used in the community and I'd rather not touch it. Maybe it then makes sense to actually have those namespaced robot_description parameters rather than j

[2015-09-18 06:04] ipa-mig commented on #11
+1 to having namespaces `robot_desctiption`s. This would make more sense. However, will we run into problems with e.g. the `robot_state_publisher`? Or can this be put in a namespace easily?

[2015-09-18 07:39] ipa-srd-fg commented on #11
Sorry for not expressing my ideas in more detail concerning the `joint_trajectory_controller`. As far as I have understood it correctly, there is no problem when one spawns multiple robots, which all use the same robot_description on the global path `/robot_description`, since there is a check for robot_description in the root in the code. But when we have namespaced robot_descriptions, e.g. `/rob

[2015-09-18 11:19] ipa-fxm commented on #11
@ipa-srd-fg:
If we discuss this on Monday, could you maybe investigate "multi-master" a bit in order for us to discuss whether and how this could be of help for us?
Some links:
 - http://wiki.ros.org/sig/Multimaster
 - http://wiki.ros.org/multimaster_fkie

@ipa-srd @ipa-mig will you join this meeting?

[2015-09-18 11:34] ipa-mig commented on #11
I'd like to. But cannot say yet due to demo preperations

[2015-09-21 07:26] ipa-srd commented on #11
Although I won’t have much time today I would join the discussion at least for the main topics.

Von: Matthias Gruhler [mailto:notifications@github.com]
Gesendet: Freitag, 18. September 2015 13:34
An: ipa320/care-o-bot
Cc: Dörr, Stefan
Betreff: Re: [care-o-bot] [Discussion] Allow Multi-robot simulation (#11)

I'd like to. But cannot say yet due to demo preperations

—
Reply to this email directly

[2015-09-21 09:15] ipa-srd-fg commented on #11
Previous discussion on robot_description namespace:
https://github.com/ros-controls/ros_controllers/issues/19

[2015-09-22 09:23] ipa-srd-fg commented on #11
As discussed with @ipa-fxm, the work (that we currently are aware of) that still needs to be done in order to allow multi-robot simulation for all robots can be summarized as follows:

* consistent renaming of sensor topics -> no global paths
* resolve `tf_prefix` for `lookupTransform` and `transformPose` (e.g. `"base_link"` -> `tf_listener_.resolve("base_link")`
* adjust namespace in `command_gui

[2015-09-24 13:03] ipa-mig commented on #11
@ipa-fxm, @ipa-srd-fg Just stumbled upon [this migration from tf to tf2](http://wiki.ros.org/tf2/Migration#Removal_of_support_for_tf_prefix) which states that `tf_prefix` will not be supported within `tf2`.

To quote:

    tf2 does not support tf_prefix.
    To avoid confusion tf2 asserts that all frame_ids do not start with /.
    To make this work tf::resolve will still work to join a tf_prefix

[2015-09-24 17:44] ipa-fxm commented on #11
First PRs have been sent:
However, they should only be merged with all the other multi-robot-related PRs...and after more testing!
 - https://github.com/ipa320/cob_common/pull/168
 - https://github.com/ipa320/cob_control/pull/55
 - https://github.com/ipa320/cob_robots/pull/331
 - https://github.com/ipa320/cob_simulation/pull/92
 - https://github.com/ipa320/ipa_navigation_localization/pull/99
 - ht

[2015-09-25 05:49] ipa-mig commented on #11
True! Other repos that definitely need to be considered:

- ipa320/ipa_navigation_planning (best talk to @ipa-flg about this one)
- ipa320/ipa_navigation_perception
- ipa320/cob_navigation (as @ipa-fxm already noted)

[2015-09-26 13:06] ipa-fxm commented on #11
The problem with searchParam("robot_description") also occurs when using the rqt_joint_trajectory_controller (see [here](https://github.com/ros-controls/ros_controllers/blob/indigo-devel/rqt_joint_trajectory_controller/src/rqt_joint_trajectory_controller/joint_limits_urdf.py#L21))

And I think we will find it at some more places...

[2015-09-29 14:06] ipa-fmw commented on #11
this is a rqt graph from the current cob4-2 setup. Can be loaded in rqt again (from file). https://gist.github.com/ipa-fmw/323da2de461da730999f

[2015-10-14 08:34] ipa-fxm commented on #11
With the result from the discussion during the ROSCon 2015 Birds-of-a-Feather session the following is agreed:
 - multi-robot support by adding (`robot_id`) namespacing support and `tf_prefix`'ing is almost unachievable due to problems faced regarding `tf::resolve` and `robot_description`
 - it is also the conclusion and the experience from other ROS users that have tried it (e.g. Clearpath)

Ther

[2015-10-28 15:49] ipa-fxm commented on #11
I created a new public repository for temporary experiments regarding multi-robot/mutli-master support: https://github.com/ipa320/cob_multi_robots

[2015-10-29 08:28] ipa-srd-fg commented on #11
Thanks

[2015-11-15 09:04] ipa-fxm commented on #11
Just for the record: a similar discussion about Multi-Robot namespacing and tf_prefix'ing in gazebo https://github.com/ros-simulation/gazebo_ros_pkgs/issues/333

[2015-11-17 09:22] ipa-fmw commented on #7
schunk_robots will not be released

[2015-11-17 09:22] #7 closed

[2016-04-01 14:21] ipa-fxm opened #22 "Indigo Release 04-2016"
Tracking the related PRs to rosdistro:
- [x] [cob_android](https://github.com/ipa320/cob_android): `0.1.2-0` https://github.com/ros/rosdistro/pull/10956
- [x] [cob_calibration_data](https://github.com/ipa320/cob_calibration_data): `0.6.5-0` https://github.com/ros/rosdistro/pull/10953
- [x] [cob_command_tools](https://github.com/ipa320/cob_command_tools): `0.6.4-0` https://github.com/ros/rosdistro/

[2016-04-01 17:36] ipa-fxm commented on #22
I could not release
 - `cob_driver`
 - `cob_robots`
 - `care-o-bot`
due to missing rosdep keys

[2016-04-01 17:56] ipa-fxm commented on #22
http://repositories.ros.org/status_page/ros_indigo_default.html?q=cob

[2016-04-02 06:59] ipa-fxm opened #24 "[travis] Check for missing dependencies"
@ipa-fmw @ipa-mdl

Is there a way to configure travis in a way so that it tells us about missing dependencies as in
 - [cob_bms_driver](http://build.ros.org/view/Ibin_uS64/job/Ibin_uS64__cob_bms_driver__ubuntu_saucy_amd64__binary/2/console#console-section-15): missing dependency to `diagnostic_updater`
 - [cob_sick_lms1xx](http://build.ros.org/view/Ibin_uS64/job/Ibin_uS64__cob_sick_lms1xx__ubuntu_

[2016-04-02 10:36] ipa-fxm commented on #22
all green already - waiting for sync!

[2016-04-02 11:54] ipa-fxm commented on #22
The following repositories could be released for __ROS Jade__ (using the respective `indigo_dev` branches - without modification):
 - cob_android
 - cob_calibration_data
 - cob_command_tools
 - cob_common
 - cob_control
 - cob_driver
 - cob_environments
 - cob_extern
 - cob_perception_common
 - cob_substitute
 - schunk_modular_robotics

(I created update `jade_dev`/`jade-devel` branches for them o

[2016-04-04 07:50] ipa-fmw commented on #22
we'll not release for Jade but wait for Kinetic Kame (to come in Mai 2016), which is a LTS again.

[2016-04-04 08:57] ipa-fxm commented on #22
This was just a summary for Jade to see what's there...
For Kinetic even more packages are missing!

[2016-04-05 14:10] ipa-mdl commented on #24
`roslint` checks things like that..

[2016-04-05 14:12] ipa-fxm commented on #24
Is it possible to add this to travis?
How? Do you have an example?
Or would it be an additional (__automatic__) PR/CI test?

[2016-04-05 14:26] ipa-mdl commented on #24
I don't have much experience with `roslint` so far. But if it returns a non-zero exit code on failures you can add the invocation to https://github.com/ipa320/care-o-bot/blob/indigo_dev/.travis.script.sh#L17.

[2016-04-05 14:27] ipa-mdl commented on #24
I actually did not meant `roslint`, there was this other tool, I forgot the name of.

[2016-04-05 14:30] ipa-fxm commented on #24
`roscompile`: https://github.com/DLu/roscompile

[2016-04-05 14:35] ipa-mdl commented on #24
Ah yes!
We could add a `roscompile.yaml` to our travis suite and copy it over to the correct location. I haven't test the return codes yet. If it does not return on failure, we should file an issue.

[2016-04-05 14:37] ipa-mdl commented on #24
https://github.com/DLu/roscompile/blob/master/scripts/roscompile#L9 :-/

[2016-04-07 12:10] ipa-fxm commented on #22
I guess we will want to re-release a view packages some time soon:
 - cob_driver
 - cob_robots
 - cob_manipulation
__This list is not complete!__

[2016-06-23 10:33] ipa-mig commented on #22
Are there any plans for another release soon? Should we close this?

[2016-06-23 10:42] ipa-fmw commented on #22
as the set of release packages is fine (as far as I know), I would close this and open a new issue if a new release is needed

[2016-06-23 10:42] #22 closed

[2016-06-24 15:02] ipa-mig opened #28 "Kinetic Release Preparations"
**Tested repositories**
- [x] [cob_android](https://github.com/ipa320/cob_android)
- [x] [cob_calibration_data](https://github.com/ipa320/cob_calibration_data)
- [x] [cob_command_tools](https://github.com/ipa320/cob_command_tools)
- [x] [cob_common](https://github.com/ipa320/cob_common)
- [x] [cob_control](https://github.com/ipa320/cob_control)
- [x] [cob_driver](https://github.com/ipa320/cob_driv

[2016-06-24 15:03] ipa-mig commented on #28
@ipa-fmw @ipa-nhg @ipa-bnm

[2016-06-24 17:11] ipa-bnm commented on #28
great overview :+1: thx

[2016-08-02 06:56] ipa-fmw opened #30 "add cob_hand to travis.rosinstall and README"

[2016-08-02 07:11] ipa-fmw commented on #30
added to readme in https://github.com/ipa320/care-o-bot/commit/fa929e704e47ac31d10ec13e36cc1ef1a3ea01dc

[2016-08-02 07:11] ipa-fmw commented on #30
waiting for https://github.com/ipa320/cob_hand/issues/6 to be fixed before adding to rosinstall

[2016-08-02 08:45] #30 closed

[2016-10-18 12:16] mathias-luedtke commented on #28
`cob_omni_drive_controller` is part of `cob_control` and is not related to `ros_canopen`, not sure if it can be built due to `ros_control` API changes.

[2016-11-23 16:02] mgruhler commented on #28
@ipa-bnm remember this issue, if you are working through the kinetic migration stuff :-)

[2016-11-23 16:31] benmaidel commented on #28
@ipa-mig great, thank you!

[2016-12-10 20:50] mathias-luedtke commented on #28
`ros_canopen (jade-devel)` works on kinetic as well.
Release is still pending.

[2016-12-15 11:54] fmessmer opened #34 "[travis] travis tests failing randomly"
As discussed [here](https://github.com/ipa320/cob_robots/pull/569#issuecomment-266997453) there seems to be a problem with travis tests failing "randomly".
This should be investigated in more detail!

@ipa-fmw @ipa-mdl @ipa-bnm @ipa-mig FYI

[2016-12-15 14:19] mathias-luedtke commented on #34
`.travis.install.sh` seems to fail.

[code]
and at the end (of installl):
[code]
The interesting part is silenced with `> /dev/null #2>&1`, same for https://github.com/ipa320/care-o-bot/blob/indigo_dev/.travis.install.sh#L25

http://wiki.ros.org/librealsense#Enable_Kernel_Sources might be worth a try.

[2017-02-14 14:39] floweisshardt opened #36 "update travis to use industrial_ci"
should be done for
### bringup packages
 - cob_android (https://github.com/ipa320/cob_android/pull/25)
 - cob_calibration_data (https://github.com/ipa320/cob_calibration_data/pull/122)
 - cob_command_tools (https://github.com/ipa320/cob_command_tools/pull/183)
 - cob_common (https://github.com/ipa320/cob_common/pull/213)
 - cob_control (indigo: https://github.com/ipa320/cob_control/pull/145; kinet

[2017-02-14 16:38] souravran commented on #36
all the above mentioned packages have been updated

[2017-02-15 10:09] fmessmer commented on #36
I guess I will do another release for indigo in order to get the rosdeps right for our new packages:
 - cob_supported_robots
 - cob_helper_tools

[2017-02-15 10:13] fmessmer commented on #36
Also, as we are now testing all repos with `catkin build` instead of `catkin_make` we should recommend everybody to compile their workspace using `catkin build` rather than `catkin_make`

That would also require some changes in the setup scripts @ipa-nhg @ipa-fmw...

[2017-02-16 10:32] #34 closed, assigned to nobody

[2017-02-16 13:29] benmaidel commented on #28
uncomplete rosinstall for kinetic: https://gist.github.com/ipa-bnm/b1b748b94fb88d78fec00dbf37cb2cf1

[2017-02-17 14:38] mgruhler commented on #28
@ipa-bnm @ipa-fxm AFAIK, all compiles by now in kinetic, right? Should the list above be updated?

[2017-02-17 14:52] mgruhler commented on #34
@ipa-bnm is this fixed?

[2017-02-17 15:10] fmessmer commented on #28
No, not everything compiles...I'm working on it...will post as soon as I have the overall-overview...
So far, I only can tell about cob_bringup. I haven't tested simulation, navigation, perception, msh...

[2017-02-17 15:33] mgruhler commented on #28
Have you synced with @ipa-bnm ? I'm not sure what works for him, but just to make sure to not have double effort...

[2017-02-20 17:45] benmaidel commented on #28
@ipa-mig All kinetic_dev branches I've created are compile able. But as we've decided to switch back to `indigo_dev` branches there is a bit more to do. Also the simulation of cob4 was running on my machine, just the controllers made problems.

[2017-02-20 19:43] mgruhler commented on #28
I'll close this now, as, afair, all packages can be compiled now. @ipa-bnm @ipa-fxm

[2017-02-20 19:43] #28 closed

[2017-02-21 06:24] fmessmer commented on #28
Well, not all changes needed to compile have made it back to ipa320 branches (indigo_dev/kinetic_dev) yet...and kinetic release is still some way to go...

[2017-02-21 07:23] mgruhler commented on #28
True, but what I had in mind with this issue is now fixed. I think it would make more sense to open another issue where we track which package has been checked/changed to work with both, indigo and kinetic, and which require a special branch.

[2017-03-05 15:12] fmessmer commented on #36
@ipa-fmw @ipa-nhg @ipa-bnm @ipa-mig @ipa-mdl

https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+user%3Aipa320+Multi+distro+travis

I created most multi-distro-travis PRs to the bringup-packages....
There still are a few issues to resolve, e.g.
 - ~~https://github.com/ipa320/cob_control/pull/145#issuecomment-284222846~~
 - https://github.com/ipa320/cob_driver/pull/323#issuecomment-2842233

[2017-03-05 21:35] fmessmer commented on #36
that glass of single malt is well deserved :tumbler_glass:
finalizing during upcoming week...

[2017-03-20 11:21] fmessmer opened #39 "[travis] setup downstream tests"
i.e. test whether a change in:
 - cob_extern affects cob_driver
 - cob_supported_robots affects cob_robots
 - ....

this can be done by adding the downstream dependencies to the .rosinstall file of the upstream repo

[2017-03-31 17:27] #36 closed, assigned to nobody

[2017-07-17 11:31] floweisshardt opened #42 "Indigo/Kinetic Release 07-2017"
Tracking the related PRs to rosdistro:
:warning: = not dual-distro compatible, i.e. `indigo_dev` for Indigo and `kinetic_dev` for Kinetic

- [x] [cob_android](https://github.com/ipa320/cob_android): @ipa-jcl `0.1.3-0` indigo: https://github.com/ros/rosdistro/pull/15548 :white_check_mark: kinetic: https://github.com/ros/rosdistro/pull/15655 :white_check_mark:
- [x] [cob_calibration_data](https://gi

[2017-07-17 11:42] mathias-luedtke commented on #42
`ros_canopen` is released (`0.6.7`/`0.7.5`), do you need a newer version?

[2017-07-17 17:22] fmessmer commented on #42
`ros_canopen` was just mentioned temporarily as we copied the list from last release...we no longer consider `ros_canopen` to be part of the "cob-release-cycle"... the maintainer take care of it very well :wink:

[2017-07-17 17:28] mathias-luedtke commented on #42
The fix needed for the raws is not yet released for `indigo`, only for `jade+`

[2017-07-17 17:31] fmessmer commented on #42
@ipa-flg-pb @ipa-rmb @ipa-jcl @ipa-fmw
please continue with the release process for the packages assigned so far....`cob_robots`, `cob_simulation`, `cob_manipulation` and `care-o-bot` are not yet ready for release as we need to clean-up a few things first to make them releasable...
however, they would be released last anyway, as they have the most upstream-dependencies..

once the first PRs to ros

[2017-07-17 17:42] fmessmer commented on #42
@ipa-flg-pb please come see us about how to proceed with https://github.com/ros/rosdistro/pull/15532#issuecomment-315784794

[2017-07-18 05:26] fmessmer commented on #42
@ipa-rmb could you please attach the txt-file with the latest release hints and commands to this issue for the sake of completeness and documentation?

[2017-07-18 10:41] ipa-rmb commented on #42
These are the current notes on doing releases:

[release.txt](https://github.com/ipa320/care-o-bot/files/1155579/release.txt)

[2017-07-18 12:18] ipa-flg-pb commented on #42
Ther is the following Issue with [`cob_driver/cob_mimic`](https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_mimic/package.xml#L22)
[code]
any idea how to solve this?

[2017-07-18 12:23] fmessmer commented on #42
@ipa-mdl
Do you know how to deal with `python-pip` dependencies?
The rosdep key is available [here](https://github.com/ros/rosdistro/blob/master/rosdep/python.yaml#L3431-L3443)

[2017-07-18 14:06] mathias-luedtke commented on #42
AFAIR packages with `pip`-only dependencies cannot be released.
Where is this output from?

[2017-07-18 14:13] fmessmer commented on #42
it's from `bloom-release <repository_name> --track <track> --rosdistro <distro>`
(@ipa-flg-pb correct me if I'm wrong)

so, we cannot release `cob_mimic` then?
@ipa-fmw FYI

[2017-07-18 14:21] mathias-luedtke commented on #42
https://github.com/ros-infrastructure/bloom/pull/412 might be related

[2017-07-18 14:41] mathias-luedtke commented on #42
Only if you rewrite it to use `libvlc-dev` directly ;)

[2017-07-18 14:56] fmessmer commented on #42
currently having this discussion...
--> https://github.com/ipa320/cob_driver/issues/340

[2017-07-18 18:24] mathias-luedtke commented on #42
I have made a new release for indigo as well.

[2017-07-20 08:19] ipa-rmb commented on #42
Does someone know what causes this error for libconcorde_tsp_solver: http://build.ros.org/job/Kbin_uxhf_uXhf__libconcorde_tsp_solver__ubuntu_xenial_armhf__binary/4/display/redirect

I can find some errors telling it cannot find libqsopt but libqsopt is part of the cob_extern release and there are no errors from the release of libqsopt.

[2017-07-20 08:42] mathias-luedtke commented on #42
Is it working for the other architectures?
I would guess that the settings needs to be passed to the `ExternalProject`.

[2017-07-20 08:55] ipa-rmb commented on #42
Yes, it works for the other arhcitectures.

The only other which is not working is:
http://build.ros.org/job/Kbin_djv8_dJv8__libconcorde_tsp_solver__debian_jessie_arm64__binary/4/display/redirect

Something was not available for arm, maybe it was libqsopt. However, how does libqsopt then go through smoothly? Or can we turn of arm support?

[2017-07-20 09:07] mathias-luedtke commented on #42
https://github.com/ros-infrastructure/ros_buildfarm_config/tree/production/kinetic
Please double check for other errors beforehand!

[2017-07-26 12:27] fmessmer opened #45 "[travis] improvements and extensions"
@ipa-fez @ipa-jba @ipa-rmb @ipa-fmw @ipa-mig @ipa-nhg @ipa-mdl @fmessmer FYI

I'll start this issue for discussion that should lead to an improved/extended default `.travis.yml` that we use in all our repos (see list below).
I suggest to first discuss which new features are to be added to the new default `.travis.yml` and then provide PRs for all affected repos in a torrent for consistency!

New f

[2017-07-26 12:31] mathias-luedtke commented on #45
It is okay to add it to travis as well, but I recommend to set this for every (c++) package.
This way the user gets the error immediately.

[2017-07-27 11:30] mgruhler opened #46 "New maintainers needed!"
I am the maintainer of the following packages, which I cannot support anymore due to me changing jobs.
Who is willing to take over? (* might also be deleted)

- [ ] cob_common/raw_description
- [ ] cob_control/cob_collision_velocity_filter
- [ ] cob_control/cob_footprint_observer
- [ ] cob_control/cob_omni_drive_controller
- [ ] cob_control/cob_undercarriage_ctrl_node*
- [ ] cob_driver/cob_base_dr

[2017-07-28 07:31] ipa-fez commented on #45
This way the user gets the error immediately.

Do you mean directly in the CMakeLists.txt @ipa-mdl?

[2017-07-28 07:43] ipa-rmb commented on #45
Though I like getting rid of warnings, I fear we cannot eliminate all warnings that originate from PCL and we have no means to fix that (multiple dependencies to other libraries). Hence I would suggest that everyone who can afford turning this on, should do it in cmake.

[2017-07-28 08:26] mgruhler commented on #45
@ipa-mdl Do you know of a way that `catkin_lint` does not treat this as an error? I.e. not changing the  `CMAKE_CXX_FLAGS`?

@ipa-fmw Additionally I only see unit tests...

[2017-07-28 09:43] mathias-luedtke commented on #45
@ipa-mig: Please, [don't mess with `CMAKE_CXX_FLAGS`](http://docs.ros.org/jade/api/catkin/html/user_guide/standards.html) in `CMakeLists.txt`; catkin_lint might even warn you (if not, this should be added).
Per-package options should be set with [add_compile_options](https://cmake.org/cmake/help/v3.0/command/add_compile_options.html) (please set `cmake_minimum_required(VERSION 2.8.12)`). Alternati

[2017-07-28 13:21] ipa-rmb commented on #45
Ah yes, these warnings should probably not occur and are serious errors.

I agree with removing jade.

[2017-07-29 09:59] mgruhler commented on #45
@ipa-mdl I had  no intention to do so. As I said, catkin_lint treats this as an error.

I forgot about add_compile_options. Shame on me ;-)

-------- Originalnachricht --------
Betreff: Re: [ipa320/care-o-bot] [travis] improvements and extensions (#45)
Von: Mathias Lüdtke <notifications@github.com>
An: ipa320/care-o-bot <care-o-bot@noreply.github.com>
Cc: "Gruhler, Matthias" <matthias.gruhler@ipa.

[2017-07-31 08:18] floweisshardt commented on #46
I found some more packages which are already or will soon be without maintainer and need somebody to take over. (* might also be deleted)
- [ ] cob_command_tools/cob_interactive_teleop*
- [ ] cob_common/raw_description
- [ ] cob_control/cob_model_identifier*
- [ ] cob_control/cob_omni_drive_controller
- [ ] cob_control/cob_trajectory_controller* --> deleted in https://github.com/ipa320/cob_control

[2017-07-31 10:48] ipa-rmb commented on #46
Is cob_driver/cob_relayboard not needed anymore? Isn't that a driver used by all rob at work robots?

[2017-07-31 10:57] fmessmer commented on #45
most packages done
@ipa-rmb took care of perception repos
I'll leave nav repos to @ipa320/navigation-push

[2017-07-31 10:59] mathias-luedtke commented on #45
@ipa-fxm: if you don't set `ROS_REPOSITORY_PATH` or `ROS_REPO`, the shadow-fixed repository will be used.

[2017-07-31 11:02] fmessmer commented on #42
The release blocker for `cob_manipulation`, i.e. stomp, has been removed in https://github.com/ipa320/cob_manipulation/pull/117 and https://github.com/ipa320/cob_manipulation/pull/119

@ipa-rmb agreed to release the remaining repos `cob_manipulation`, `cob_robots` and `cob_simulation` into both `indigo` and `kinetic` :+1:

@ipa-flg-pb I consider your job done for the time being...thank you for you

[2017-07-31 11:06] fmessmer commented on #46
as discussed with @ipa-rmb
let's call a joint meeting and discuss what packages:
 - really can be removed right away
 - could made obsolete and removed with some migration effort
 - should be kept but require a change of maintainership

[2017-07-31 12:07] ipa-nhg commented on #46
I am also still maintainer of some packages that I can't support anymore.
Looking for a new maintainer for:

- [ ] schunk_modular_robotics (metapackage)
- [ ]  schunk_description
- [ ] cob_supported_robots
- [ ] cob_gazebo_plugins
- [ ] cob_environments (metapackage)
- [ ] cob_default_env_config
- [ ] cob_substitute (metapackage)
- [ ] cob_calibration_data
- [ ] cob_extern (metapackage)
- [ ] cob_

[2017-07-31 13:01] fmessmer commented on #45
I did set `ROS_REPO=ros` in https://github.com/ipa320/care-o-bot/pull/47/files#diff-354f30a63fb0907d4ad57269548329e3R10....or did I miss it somewhere?

[2017-07-31 13:09] fmessmer commented on #46
so, is **every** maintainer now dropping the hot potato?

[2017-07-31 13:25] mathias-luedtke commented on #45
@ipa-fxm:
Just had a brief look and missed that you have set it globally.
Sorry for the noise!

It might make sense to use `shadow-fixed` by default, to detect upstream breaks earlier.
I am not sure which way to go..

[2017-08-01 05:54] fmessmer commented on #45
debian jobs do not make too much sense for private repos like ipa_navigation and msh as they depend on other private packages that might not been released (too soon/ever)...
still I kept the syntax improvements and `ROS_REPO` part for msh...
I leave it to @ipa320/navigation-push to decide about ipa_navigation

[2017-08-02 07:10] ipa-rmb commented on #42
I think I figured out how to edit the first message without loosing data:
1. Refresh page
2. Click edit comment but cancel editing immediately (if you would have lost data, it now asks you whether you really want to abort and loose your unsaved changes - click yes)
3. Refresh page
4. Edit the message and save
5. Refresh page

[2017-08-02 07:13] fmessmer commented on #42
release of ur_* packages is tracked https://github.com/ros-industrial/universal_robot/issues/240#issuecomment-319575676

[2017-08-02 12:15] floweisshardt commented on #46
the problem is that there are not so many different maintainers and the above one all will not be at IPA any more soon.

[2017-08-02 14:39] fmessmer commented on #46
we discussed the further procedure all together today...I will trigger the next steps to get the maintainers updated asap...

[2017-08-04 07:40] fmessmer commented on #42
UniversalRobot releases are:
 - indigo: https://github.com/ros/rosdistro/pull/15686
 - kinetic: https://github.com/ros/rosdistro/pull/15689

[2017-08-09 08:03] ipa-rmb commented on #42
Shall we do a release session again or are there some pull requests that we should await first? Do we release care-o-bot as well?

[2017-08-09 19:53] fmessmer commented on #42
Yes, we should release care-o-bot, too

For the next cycle, I think we should wait a bit more as there are a few things pending in cob_robots...new bots, zr300 migration, raw3-1 to canopen...

[2017-08-09 20:28] ipa-rmb commented on #42
Ok, so care-o-bot should be released already now, the remainder has to wait for the second cycle later, correct?

[2017-08-09 21:03] fmessmer commented on #42
:+1:
the next release should also go in a new issue

[2017-09-06 06:54] fmessmer commented on #46
Maintainers have been updated
Also dependencies to legacy and outdated packages have been removed in ipa320/cob_robots#714

Do we still need to actually remove packages somewhere?
I think we agreed on keeping legacy packages as they do not really harm for the time being? Is this correct?

@ipa-jba @ipa-fez @ipa-rmb @ipa-fmw @ipa-nhg

[2017-09-06 08:09] floweisshardt commented on #46
ok for me

[2017-09-09 12:05] fmessmer commented on #42
Let's just say `care-o-bot` missed one release cycle and close this PR!
We'll trigger a new release some time soon anyway? October?

[2017-09-09 12:05] #42 closed, assigned to nobody

[2017-09-13 20:04] fmessmer commented on #39
this is also part of the discussion in #45

[2017-09-13 20:04] #39 closed, assigned to nobody

[2017-09-29 19:28] fmessmer commented on #46
Thus,  I consider this done

[2017-09-29 19:28] #46 closed, assigned to nobody

[2017-10-23 21:32] fmessmer commented on #10
there are a view tools that can be used for auto-generation of basic docu:
- https://github.com/bponsler/rosautodoc
- https://github.com/mikepurvis/catkin_tools_document

[2018-01-06 12:15] fmessmer opened #49 "Indigo/Kinetic Release 01-2018"
`cob_android`: https://github.com/ros/rosdistro/pull/16717, https://github.com/ros/rosdistro/pull/16718
`cob_calibration_data`: https://github.com/ros/rosdistro/pull/16719, https://github.com/ros/rosdistro/pull/16720
`cob_command_tools`: https://github.com/ros/rosdistro/pull/16721, https://github.com/ros/rosdistro/pull/16722
`cob_common`: https://github.com/ros/rosdistro/pull/16723, https://github

[2018-01-06 12:27] fmessmer commented on #49
I'd do releases, but my permissions are not sufficient to push to `cob_X` and `cob_X-release` repos
@ipa-jba @ipa-fez @ipa-rmb @ipa-fmw @ipa-bnm
Can someone (temporarily) make me owner again or grant admin rights until I did the releases?

[2018-01-07 12:44] fmessmer commented on #49
Starting with this release, I applied `catkin_generate_changelogs` directly onto `indigo_dev` branch.
Like this, we do not need to remember to merge back `indigo_release_candidate` into `indigo_dev` after the release went through

[2018-01-07 14:19] fmessmer commented on #49
`care-o-bot` needs additional `rosdep` entries for `fedora`:
 - `chromium`: https://github.com/ros/rosdistro/pull/16743
 - `tmux`: https://github.com/ros/rosdistro/pull/16744

`care-o-bot` needs additional `rosdep` entries for `debian`:
 - `blender`: https://github.com/ros/rosdistro/pull/16752
 - `language-pack-de`: does not exist for `debian/jessie`
 - `language-pack-en`: does not exist for `debi

[2018-01-07 21:49] fmessmer commented on #49
Follow `debbuild` status
`indigo`: http://repositories.ros.org/status_page/ros_indigo_default.html?q=cob
`kinetic`: http://repositories.ros.org/status_page/ros_kinetic_default.html?q=cob

[2018-01-08 09:20] fmessmer commented on #49
all released, all merged, all green...waiting for next sync

[2018-01-08 09:20] #49 closed, assigned to nobody

[2018-07-21 12:26] fmessmer opened #51 "Indigo/Kinetic Release 07-2018"
`cob_android`: **up-to-date**
`cob_calibration_data`: https://github.com/ros/rosdistro/pull/18589 https://github.com/ros/rosdistro/pull/18590
`cob_command_tools`: https://github.com/ros/rosdistro/pull/18645 https://github.com/ros/rosdistro/pull/18646
`cob_common`: https://github.com/ros/rosdistro/pull/18592 https://github.com/ros/rosdistro/pull/18593
`cob_control`: https://github.com/ros/rosdistro

[2018-07-21 13:05] fmessmer commented on #51
`ntpdate` missing for `fedora`: https://github.com/ros/rosdistro/pull/18591

[2018-07-21 16:32] fmessmer commented on #51
Follow `debbuild` status
`indigo`: http://repositories.ros.org/status_page/ros_indigo_default.html?q=cob
`kinetic`: http://repositories.ros.org/status_page/ros_kinetic_default.html?q=cob

[2018-07-22 07:34] fmessmer commented on #51
I updated the [`pigpio`](https://github.com/joan2937/pigpio/tree/934874be2fa34a525beb33e8cb75e378df587860) submodule in https://github.com/ipa320/cob_hand/commit/fd3e89835d967937f61d3b3882c5f82ad06c1a9b due to [buildfarm failures](http://build.ros.org/view/Ibin_uT64/job/Ibin_uT64__cob_hand_bridge__ubuntu_trusty_amd64__binary/16/)...related to `fprintf` compiler errors which were fixed upstream in

[2018-07-22 08:14] fmessmer opened #52 "Melodic testing/migration"
because it was requested in https://github.com/ipa320/schunk_modular_robotics/issues/206, why not at least add `melodic` checks to travis...

- `cob_android`: https://github.com/ipa320/cob_android/pull/35
    - kinetic: https://github.com/ros/rosdistro/pull/21955
    - melodic: https://github.com/ros/rosdistro/pull/21957
- `cob_calibration_data`: ipa320/cob_calibration_data#154
    - kinetic: http

[2018-07-23 08:48] fmessmer commented on #51
maybe we can release to melodic but ignore failing packages:
https://answers.ros.org/question/66545/to-ignore-some-pkgs-upon-release-by-bloom/

[2018-08-03 16:17] fmessmer commented on #52
@ipa-jba @ipa-rmb
if you need to do partial releases:
https://answers.ros.org/question/66545/to-ignore-some-pkgs-upon-release-by-bloom/

[2018-08-03 16:19] fmessmer commented on #51
release is out for a while already

[2018-08-03 16:19] #51 closed, assigned to nobody

[2018-11-09 10:52] jinhooi opened #54 "How to install the cob_simulator"
I start to work with care-o-bot4. But I cannot install simulation by "http://wiki.ros.org/Robots/Care-O-bot/indigo" (I have confirmed that it was installed in the last year, but not now.)
So I want to install by cob_simulator but I don't know how to install by cob_simulator in github.
Before I activate the hardware, I want to simulation hard.
I want you to help me simulate.
Thank you.

[2018-12-05 15:26] fmessmer commented on #54
problem solved via mail

[2018-12-05 15:26] #54 closed, assigned to nobody

[2019-03-07 12:29] jabbenseth opened #55 "Kinetic Release 03-2019"
previous release: https://github.com/ipa320/care-o-bot/issues/51

`cob_android`: **up-to-date** :point_right: `0.1.4`
`cob_calibration_data`: https://github.com/ros/rosdistro/pull/20565 :point_right: `0.6.10`
`cob_command_tools`: https://github.com/ros/rosdistro/pull/20572 :point_right: `0.6.10`
`cob_common`: **kinetic:** https://github.com/ros/rosdistro/pull/20566, **melodic:** https://github.com

[2019-03-14 13:02] fmessmer commented on #55
http://repositories.ros.org/status_page/ros_kinetic_default.html?q=cob
http://repositories.ros.org/status_page/ros_melodic_default.html?q=cob

[2019-03-27 12:44] fmessmer commented on #55
the kinetic release has been synced

[2019-03-27 12:44] #55 closed, assigned to nobody

[2019-07-31 16:50] fmessmer commented on #52
- `cob_android`
    - branch `indigo_dev` supports indigo, kinetic, melodic
    - https://github.com/ipa320/cob_android/pull/35
- `cob_calibration_data`:
    - branch `indigo_dev` supports indigo, kinetic, melodic
    - https://github.com/ipa320/cob_calibration_data/pull/154
- `cob_command_tools`
    - branch `indigo_dev` supports indigo, kinetic, melodic
    - https://github.com/ipa320/cob_comman

[2019-08-19 08:21] fmessmer commented on #52
melodic migration is (mostly) done - some issues remain:
 - `cob_manipulation` is not yet back to previous functionality after migrating from `tf` to `tf2`
 - `care-o-bot` needs `cob_manipulation` to be built with source overlays`
 - `cob_robots`, `cob_simulation`, `cob_manipulation` and `care-o-bot` cannot be released into melodic due to missing release of `realsense_camera` and `realsense2_camer

[2019-11-13 14:04] fmessmer commented on #52
I've made a partial release of `cob_robots` and `cob_simulation`, i.e. there is now a `melodic.ignore` in the respective `*-release` repos...

[2019-12-04 13:01] fmessmer commented on #52
I've made a partial release of `cob_manipulation` - `cob_pick_place_action` is not released due to `CATKIN_IGNORE` file :point_right: see https://github.com/ipa320/cob_manipulation/issues/141

[2019-12-04 13:02] fmessmer commented on #52
there is nothing more to do here....releasing the packages we need for a release of `care-o-bot` (e.g. realsense) is not in our hands...closing

[2019-12-04 13:02] #52 closed, assigned to nobody

[2020-12-17 13:23] fmessmer opened #60 "add LICENSE file to all cob repos"
as of the latest `rosdistro` review guidelines, every released repo needs a `LICENSE` file
https://github.com/ros/rosdistro/blob/master/REVIEW_GUIDELINES.md#types-of-pull-requests

for the next release cycle we should add a `LICENSE` file for the `Apache 2.0` license:
https://opensource.org/licenses/Apache-2.0